body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container{
    width: 90em;
    height: 55em;
    background-color: #F3F0D7;
    border-radius: 5px;
    box-shadow: 5px 10px 38px rgba(97, 97, 97, 0.589);
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Baloo Tammudu 2', cursive;
}
input{
    border: none;
    outline: none;
}
.container .left-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label{
    font-size: 1.5em;
}
.container .left-box .in{
    display: flex;
    flex-direction: column;
}
.container .left-box .in input{
    height: 5em;
}